.contacto-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    min-height: 600px;
    margin-bottom: 15px;
}

.contact-title {
    font-family: Gotham, sans-serif;
    font-size: 34px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: left !important;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 800;
    color: #a2a2a2

}

#contact-information {
    border: 1px solid #bdb6b6;
    background-color: #f2f2f2;
    padding: 0.5em 2.5em;
    box-shadow: 0 1px 7px 1px #888888;
}

#contact-information h2 {
    font-family: source-sans-pro, sans-serif;
    color: var(--base-color);
    font-size: 21px;
    font-weight: 700;
}

#map-canvas {
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
    border: 2px solid #fff;
}

.paragraph {
    padding-top: 14px;
    font-weight: 800;
    color: #626262;

}
/*
.vertical-align {
    display: flex;
    align-items: center;
}*/

.contact-row {
    margin-top: 2%;
    margin-bottom: 10%;
}

.column-contact {
    margin: 0 auto;
}
