.element-container {
    margin-bottom: 40px;
}

.product-container {
    height: 95%;
    width: 95%;
    margin: 0 auto;
    border-color: rgba(195, 195, 195, 0.67) !important;
    border: solid 2px;
}

/* --- Product Card ---- */
.product-card{
    max-width:100%;
    height:80%;

    border-color: rgba(195, 195, 195, 0.67) !important;
    border-bottom: solid 2px;

    transform-style: preserve-3d;
    -webkit-transition:  100ms ease-out;
    -moz-transition:  100ms ease-out;
    -o-transition:  100ms ease-out;
    transition:  100ms ease-out;
}

.product-card.animate {
    box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
}

.product-card > img {
    max-height:100%;
    max-width:100%;
}

.stats-container{
    background:#fff;
    width:100%;
    height: 80px;
    display: table;
    /*height:20%;*/
    /*padding:27px 35px 35px;*/
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.stats-container p{
    font-size:16px;
    color:#b1b1b3;
    padding:2px 0 20px 0;
}
.stats-container .product_name, .stats-container .product_price {
    vertical-align: middle;
    display: table-cell;
}

.stats-container .product_name{
    width: 75%;
    padding-left: 10px;
    font-size: 1.1em;
    color: #393c45;
}

.stats-container .product_price {
    width: 25%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: #11cf9d;
}

.image_overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--base-color) ;
    opacity:0;
}
.product-card.animate .image_overlay{
    opacity:0.7;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
#view_details{
    position:absolute;
    top:112px;
    left:50%;
    margin-left:-85px;
    border:2px solid #fff;
    color:#fff;
    font-size:19px;
    text-align:center;
    text-transform:uppercase;
    font-weight:700;
    padding:10px 0;
    width:172px;
    opacity:0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
#view_details:hover{
    background:#fff;
    color:var(--base-color) ;
    cursor:pointer;
}
.product-card.animate #view_details{
    opacity:1;
    width:152px;
    font-size:15px;
    margin-left:-75px;
    top:115px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

/****************************** INFO PRODUCTO ******************************/
.img_product {
    border: 1px solid #d8d8d8;
    height:75%;
    width: 75%;
    margin: 0 auto;
}

#infoProducto h2, #infoProducto h3 {
    text-align:center;
}

.product_description {
    color: #6a6a6a;
    font-size: 13px;
}

.product_prize {
    font-weight: 600;
    /*line-height: 1;*/
    font-size: 40px;
    font-family: Ubuntu, sans-serif;
    color: #269686;
}

#infoProducto label {
    font-size: 16px;
    color:#191b1a99;
}

#infoProducto span, #infoProducto h5{
    color:#191b1a99;
}

#infoProducto a {
    text-decoration: underline;
}

#infoProducto hr {
    border: 1px solid #e9e9e9;;
}

