.container-quienes-somos {
    /*border: 1px solid;*/
    /*margin: 20px;*/
    width:80%;
    background-color: #e6ded7;
    margin-bottom: 10px;
}

.container-quienes-somos p {
    text-align: justify;
    font-family: 'Actor';
    font-size: 1.15em;
    color: #5f5f5f;
    margin: 0 0 1.5em;
}