.welcome-content {
    margin-bottom: 180px;
}
/****** MENU CATEGORIAS TOP ******/
.menu_wrap {
    background: #fff;
    height: 100%;
    box-shadow: 0 1px 7px 1px #888888;
}

.menu_wrap h3 {
    color: #fff;
    padding: 18px 30px 23px;
    background:  var(--base-color);
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.menu_wrap ul {
    height: calc(100% - 60px);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu_wrap li {
    border-top: 1px solid #ddd;
    padding: 5px 30px;
    width: 100%;
    height: 16.67%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu_wrap li a {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin: 15px;
}

.menu_wrap a {
    color: #2f2f2f;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    -webkit-transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
}

.menu_wrap a:hover, .menu_wrap a:focus {
    color: var(--base-color);
    text-decoration: none;
}

.menu_wrap a:active, .menu_wrap a:hover {
    outline-width: 0;
}

/****** CAROUSEL PRINCIPAL ******/
.slider-menu-section {
    /*display: flex; Esto hace que los componentes hijos tengan el mismo height*/
}

.item-carousel img {
    /*
    width: auto;
    height: 700px !important;
    max-height: 700px;
    */
}



/****** SECCION DE CATEGORIAS ******/
.category-title {
    font-size: 0.8em;
}
.category-list-section {
    margin-top: 3em;
}
.category-list-section h1 {
    color: #666;
    position: relative;
    font-size: 2em;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.category-list-section h1:before, .category-list-section h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 0.07em;
    content: '\a0';
    background-color: #666;
}

.category-list-section h1:before, .category-list-section h1:after, .category-list-section h1 {
    transform: translate3d(0, 0, 0);
    -webkit-transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
}

.category-list-section h1:before {
    margin-left: -51%;
    text-align: right;
}

.category-list-section h1::after {
    margin-left: 1%;
}

.category-list-section a {
    text-decoration: none;
}
.category-list-section a:hover h1:before, .category-list-section a:hover h1:after{
    background-color:var(--base-color);
    text-decoration: none;
}
.category-list-section a:hover h1 {
    color: var(--base-color);
    text-decoration: none;
}

/********************************/
/*
.item-col {
  border: 1px solid;
  margin: 2px;
}
*/
/*
.p_btn100--1st {
  background: var(--base-color);
  color: #F8F7F5;

  font-size: 1em;
  line-height: 1.42857em;

  border: none;
  border-radius: 3px;
  width: 100%;
  min-height: 40px;

  margin-top: 150%;
}

.p_btn100--1st i {
  font-family: OttoIconFonts,Arial,Helvetica,sans-serif!important;
}
*/
.item-col a{
    text-decoration: none;
    color: #0f0f0f;
}

.item-col a:hover{
    text-decoration: none;
}

.item-col a:hover .item-category {
    border: 1px solid var(--base-color);
}

.item-category {
    height:90%;
    border: solid 1px rgba(195, 195, 195, 0.67);
    width: 90%;
    margin: 0 auto;
}

.itemslider h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px auto 3px;
}
.itemslider h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 3px auto 2px;
}
.itemslider h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;;
    font-size: 10px;
    margin: 2px auto 5px;
}
.badge {
    background: #b20c0c;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid #FFF;
    box-shadow: 0 0 0 1px #b20c0c;
    top: 5px;
    right: 25%;
}
.slider-control img{
    padding-top: 140%;
    margin: 0 auto;
}
@media screen and (max-width: 992px){
    .slider-control img {
        padding-top: 80px;
        margin: 0 auto;
    }
}

.carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
    margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
    margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
    display: none;
}
@media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
@media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
        display: block;
    }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(16.666%, 0, 0);
        transform: translate3d(16.666%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-16.666%, 0, 0);
        transform: translate3d(-16.666%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
